/*General layout, plus headers and footers*/
html, body {
	height: 100%;
	/*necessary to make grey BG display corrently*/
	margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: large;
    position: relative;
    min-height: 100%;
    max-width: 100%;
    color: #333333;
}


/* Table stuff */
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
