.bar-right {
  border-right: 1px solid #333;
}

.previous {
  background-color: #003d5a;
  color: black;
}

.next {
  background-color: #003d5a;
  color: black;
}

.round {
  border-radius: 200%;
}

.mt-1 {
  margin-top: ($spacer * 2) !important;
}

.arrow {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
