th {
        border-bottom: 2px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 2px solid black;
}

table, td {
        border: 1px solid black;
}

.stock_tables {
        font-size: 13px;
}

.arrow {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.round {
  border-radius: 200%;
}

.bar-right {
  border-right: 1px solid #333;
}

.chart-area {
        height: 400px;
        max-height: 400px;
}
